<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Navigation App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Enter Bus Stop Code</h1>
        <div class="form-group">
            <label for="busCode">Bus Stop Code</label>
            <input type="number" class="form-control" id="busCode" name="busCode" placeholder="e.g. 56709">
        </div>
        <button type="button" id="startBtn" class="btn btn-primary">Start</button>
        <button type="button" id="stopBtn" class="btn btn-danger">Stop</button>
        <hr>
        <h1>Bus: <span id="bus"></span></h1>
        <p>Last Updated: <span id="updateTiming"></span></p>
    </div>
</body>
</html>
<script>
    $("#startBtn").click(startDetection)
    $("#stopBtn").click(stopDetection)
    var apiInterval
    function startDetection(){
        body = {
            "code": $("#busCode").val()
        }
        $.ajax({
            type: "POST",
            url: "/start_bus_detection",
            data: body,
            success: function(data, status, jqXHR) {
                console.log("Success")
                }
        })
        console.log(body)
        //fetch(`http://127.0.0.1:5000/start_bus_detection`)
        apiInterval = setInterval(async function (){
            const response = await fetch(`/bus_result`)
            const jsonData = await response.json();
            console.log(jsonData.data)
            $("#bus").text(jsonData.data)
            $("#updateTiming").text(new Date().toLocaleTimeString())
        }, 10)
    }

    function stopDetection(){
        clearInterval(apiInterval)
    }
    
</script>