<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Navigation App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>Automatic Labelling with Machine Learning</h1>
    <h2>Step 1:</h2>
    <div class="form-group">
        <label for="vid">Select your Video to Upload</label>
        <select class="form-select" id="vid" name="vid">
        </select>
        <small id="nameHelp" class="form-text text-muted">Upload your videos to instance/uploads folder.</small>
    </div>
    <div class="form-group">
      <label for="model">Select your Model to run auto-labelling</label>
      <select class="form-select" id="model" name="model">
      </select>
      <small id="nameHelp" class="form-text text-muted">Upload your models to instance/models folder.</small>
  </div>
    <button type="button" id="predictBtn" class="btn btn-primary">Start Label</button>
    <br>
    <div class="spinner-border text-primary" role="status" id="spinnerLoading">
      <span class="visually-hidden">Loading...</span>
    </div>
    <hr>
    <div id="postForm">
      <h2>Step 2:</h2>
      <div class="form-group">
        <label for="apiKey">Output Folder</label>
        <input type="text" class="form-control" id="folder" name="folder" disabled>
      </div>
      <div class="form-group">
        <label for="apiKey">API Key</label>
        <input type="text" class="form-control" id="apiKey" name="apiKey" placeholder="Enter your Roboflow API Key">
        <small id="apiKeyHelp" class="form-text text-muted">We'll never share your API Key with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="projectID">Select your Project ID</label>
        <select class="form-select" id="projectID">
        </select>
      </div>
      <button type="button" id="uploadBtn" class="btn btn-primary">Submit</button>
    </div>
  </div>

</body>
</html>
<script>
    $("#apiKey").blur(() => {
      $("#projectID").html("")
      getProjectIDs($("#apiKey").val())
    })

    async function getProjectIDs(apiKey) {
      const response  = await fetch(`http://127.0.0.1:5000/projects/${apiKey}`)
      const jsonData = await response.json();
      console.log(jsonData);
      jsonData.data.map(pid => $("#projectID").append(`<option>${pid}</option>`))
    }

    async function getVid() {
      const response  = await fetch(`http://127.0.0.1:5000/upload`)
      const jsonData = await response.json();
      jsonData.data.map(pid => $("#vid").append(`<option value="${pid}">${pid}</option>`));
    }

    async function getModel() {
      const response  = await fetch(`http://127.0.0.1:5000/models`)
      const jsonData = await response.json();
      jsonData.data.map(pid => $("#model").append(`<option value="${pid}">${pid}</option>`));
    }

    getVid();
    getModel();

    $("#spinnerLoading").hide();
    $("#postForm").hide();

    $("#predictBtn").click(function(){
      let vid = $("#vid").val();
      let model = $("#model").val();
      let body = {
        "vid": vid,
        "model": model
      }
      $("#spinnerLoading").show()
      $.ajax({
        type: "POST",
        url: "http://127.0.0.1:5000/predict",
        data: body,
        success: function(data, status, jqXHR) {
          $("#spinnerLoading").hide();
          $("#postForm").show();
          $("#folder").val(data.data)
          console.log(data.data)
        }
      })
    })
  $("#uploadBtn").click(function(){
    let folder = $("#folder").val()
    let apiKey = $("#apiKey").val()
    let project = $("#projectID").val()
    let body = {
      "folder": folder,
      "apiKey": apiKey,
      "project": project
    }
    $.ajax({
      type: "POST",
      url: "http://127.0.0.1:5000/upload",
      data: body,
      success: function(data, status, jqXHR) {
        window.location.replace("https://app.roboflow.com/")
      }
    })
  })

</script>
